In [1]:
import numpy as np
import pandas as pd

In [7]:
pollutant_one = pd.read_csv('../data/NO2_2010_2020.csv', sep=';')
pollutant_one = pd.read_csv('../data/NO2_2010_2020.csv', sep=';')
pollutant_one.drop(pollutant_one.iloc[:,:1], inplace = True, axis = 1) 
pollutant_one.columns = 'NO2_' + pollutant_one.columns
amsterdam_pollutant_one = pollutant_one[pollutant_one['NO2_name'].str.contains('Amsterdam', na=False)]
amsterdam_pollutant_one = amsterdam_pollutant_one.drop([37,39,64,65,70,71,72,73], axis = 0)
amsterdam_pollutant_one = amsterdam_pollutant_one.set_index('NO2_name')
amsterdam_pollutant_one

,NO2_2012,NO2_2013,NO2_2014,NO2_2015,NO2_2016,NO2_2017,NO2_2018
NO2_name,,,,,,,
Amsterdam-Einsteinweg,110.917,109.375,95.739,91.175,99.525,93.408,91.14
Amsterdam-Van Diemenstraat,96.792,94.0,78.333,80.421,95.804,81.361,82.67
Amsterdam-Vondelpark,70.417,79.458,59.25,54.521,64.813,64.058,59.08
Amsterdam-Stadhouderskade,89.0,83.75,74.713,71.292,76.975,71.921,78.22

In [8]:
amsterdam_pollutant_one.max().max()

99.525

In [9]:
amsterdam_pollutant_one.min().min()

54.521

In [12]:
pollutant_two = pd.read_csv('../data/PM2.5_2010_2020.csv', sep=';')
pollutant_two.drop(pollutant_two.iloc[:,:1], inplace = True, axis = 1) 
pollutant_two.columns = 'PM2.5_' + pollutant_two.columns
amsterdam_pollutant_two = pollutant_two[pollutant_two['PM2.5_name'].str.contains('Amsterdam', na=False)]
amsterdam_pollutant_two = amsterdam_pollutant_two.drop([38], axis = 0)
amsterdam_pollutant_two = amsterdam_pollutant_two.set_index('PM2.5_name')
amsterdam_pollutant_two

,PM2.5_2012,PM2.5_2013,PM2.5_2014,PM2.5_2015,PM2.5_2016,PM2.5_2017,PM2.5_2018
PM2.5_name,,,,,,,
Amsterdam-Einsteinweg,93.713,62.946,79.0,-83.846,64.427,76.525,59.73
Amsterdam-Van Diemenstraat,99.429,61.996,76.8,82.767,75.092,72.775,61.04
Amsterdam-Vondelpark,98.1,62.583,69.271,77.183,61.521,77.804,58.43
Amsterdam-Stadhouderskade,93.048,68.513,79.167,74.308,63.575,75.954,61.03

In [14]:
amsterdam_pollutant_two.max().max()

99.429

In [15]:
amsterdam_pollutant_two.min().min()

-83.846

In [16]:
pollutant_three = pd.read_csv('../data/PM10_2010_2020.csv', sep=';')
pollutant_three.drop(pollutant_three.iloc[:,:1], inplace = True, axis = 1) 
pollutant_three.columns = 'PM10_' + pollutant_three.columns
amsterdam_pollutant_three = pollutant_three[pollutant_three['PM10_name'].str.contains('Amsterdam', na=False)]
amsterdam_pollutant_three =  amsterdam_pollutant_three.drop([39,42, 44, 71, 73], axis = 0)
amsterdam_pollutant_three = amsterdam_pollutant_three.set_index('PM10_name')
amsterdam_pollutant_three

,PM10_2012,PM10_2013,PM10_2014,PM10_2015,PM10_2016,PM10_2017,PM10_2018
PM10_name,,,,,,,
Amsterdam-Einsteinweg,108.925,70.929,97.85,86.138,73.15,86.608,69.15
Amsterdam-Van Diemenstraat,100.179,79.925,84.9,88.561,73.513,83.904,86.93
Amsterdam-Vondelpark,94.513,68.304,82.579,80.433,63.017,78.575,64.47
Amsterdam-Stadhouderskade,96.318,69.3,94.006,81.921,68.875,82.104,64.19

In [17]:
amsterdam_pollutant_three.max().max()

97.85

In [18]:
amsterdam_pollutant_three.min().min()

63.017